html, body {
margin: 0;	
}

h1 {
}

h3 {
}

div {
}

input {
	width: 50%;
	border-radius: 10px;
	height: 27px;

}
.Buttons {
	
}

.Buttons .About_B {

}

.Search {
	margin-top: 280px;
	margin-left: 10%;}

.logo {
margin-left: 30%;
}

.SearchBar {
margin-left: 22%;
}

.SearchButtons {
	margin-top: 20px;
	font-size: 11pt;
	font-style: normal;
	font-family: Arial, "Helvetica";
	font-weight: lighter;
	color: #d7d9db;
}

.SearchPress{

	margin-left: 33%;
	background: #e8eaeb;
	width: 50px;
	color: #404040;
	padding: 8px 8px 8px 8px;
	border-radius: 8px;


}

.Lucky{
	margin-left: 25px;
	background: #e8eaeb;
	color: #404040;
	padding: 8px 8px 8px 8px;
	border-radius: 8px;

}

.BottomButtons {

	margin-top: 240px;

	background: lightgrey;
	height: 40px;
	width: 100%;

}

