html body {
	margin: 0;
}

h1 {
}

h3 {
	padding-top: 10px;
}

div {
}

a {
	text-decoration: none;
	color: black;
}

input {
	width: 50%;
	border-radius: 10px;
	height: 27px;

}
.TopButtons {
	font-family: Arial;
	font-size: 16px;
	font-weight: lighter;
	color: black;

	
}

.TopButtons .About_B {
	padding-left: 50px;

}

.About_B{
	color: black;
	padding-right: 20px;

}

.Store_B {
	padding-right: 70%;
}

.Gmail_B{
	padding-right: 20px;
}

.Images_B {
	padding-right: 20px;
}

/*.Other_B {
	display: inline-block;
	padding: 5px 20px;

	background-color: grey;
}*/

.Search {
	margin-top: 150px;
	margin-left: 10%;}

.logo {
margin-left: 32%;
padding-bottom: 30px;
}

.SearchBar {
margin-left: 22%;
}

.SearchButtons {
	margin-top: 20px;
	padding-top: 15px;
	padding-bottom: 10px;
	font-size: 11pt;
	font-style: normal;
	font-family: Arial, "Helvetica";
	font-weight: lighter;
	color: #d7d9db;
}

.SearchPress{

	margin-left: 30%;
	background: #e8eaeb;
	width: 50px;
	color: #404040;
	padding: 8px 8px 8px 8px;
	border-radius: 8px;


}

.Lucky{
	margin-left: 25px;
	background: #e8eaeb;
	color: #404040;
	padding: 8px 8px 8px 8px;
	border-radius: 8px;

}

.BottomButtons {
	font-family: Arial;
	font-weight: lighter;
	color: #8e8e8e;
	font-size: 15px;
	margin-top: 214px;
    padding-top: 20px;
	background: #e3e3e3;
	height: 40px;
	width: 100%;
}

a.BottomButtons {
	color:#8E8E8E;
}

#Search_BB {
	padding-left: 3%;
	padding-right: 68%;
	color: #6b6b6b;
}

#Privacy_BB {
	padding-left: 1%;
	color: #6b6b6b;


}

#Terms_BB {
	padding-left: 1%;
	padding-right: 1%;
	color:#6b6b6b;


}

#Settings_BB {
	color:#6b6b6b;



}

